#python files
__pycache_/_
*.py[cod]
cppcolleff.py
*.egg-info/

# Object files
*.o
*.ko
*.obj
*.elf
*.depend

# Precompiled Headers
*.gch
*.pch
*.cxx

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.x
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*~

build/
